:root {
    --main-bg-color: #2196F3;
    --font-s: 14px;
    --color-b: #212121;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: var(--color-b);
}

  /* styling header */

.link-logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-b);
    text-decoration: none;
}

.logo-accent {
    color: var(--main-bg-color);
}

.nav-item:hover {
    color: var(--main-bg-color);
}

.logo-item {
    font-weight: 500;
    font-size: var(--font-s);
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-b);
    list-style: none;
}

.link-nav {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-s);
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-b);
    text-decoration: none;
}

.logo-adress {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-s);
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

    /* section-title */

.section-container {
    background-color: #2F303A;
}

.section-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-btn {
    background: var(--main-bg-color);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.btn-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn-all {
    background: var(--main-bg-color);
    border-radius: 4px;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}

.btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
}

.all-list {
    background: #F5F4FA;
    border-radius: 4px;
    list-style: none;
}

.list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--color-b);

}

/* скрытое поле */

.heading {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.description-list {
    list-style: none;

}

.description-title {
    font-size: var(--font-s);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-b);
}

.description-text {
    font-size: var(--font-s);
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* section portfolio */

.portfolio-list {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    list-style: none;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--color-b);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    
}

/* section img */

.section-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-b);
}

.img-list {
    list-style: none;
}


/* section our team */

.our-team {
    background: #F5F4FA;
}

.team-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-b);
}

.team-list {
    list-style: none;
}

.team-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-b);
}

.team-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */

.footer {
    background:  #2F303A;
}

.footer-logo {
    color: #FFFFFF;
}

.footer-list {
    list-style: none;
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-s);
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}








